header {
	display: flex;
	justify-content: space-between;
    align-items: center;
	background-color: lightgrey;
    padding: 10px;
}

.left-section,
.right-section

{
display: inline-block;
}	

.navigation a {
    text-decoration: none;
    color: black;
}

.navigation a:hover {
    background-color: white;
    cursor: pointer;
}

.float-left {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
